/* Small Device */

@media screen and (max-width: 576px) {
    .logo {
        font-size: 1.5rem;
    }

    .menu-items {
        flex-direction: column;
        display: none;
    }

    .hamburger-btn {
        display: block;
        display: flex;
        align-items: center;
    }
    .banner-container {
        flex-direction: column;
    }
    .banner-left,
    .banner-right {
        width: 100%;
    }
    .banner-right img {
        width: 100%;
    }

    .workout-video-conten h2, .video-tutorial h2 {
        font-size: 1.2rem;
    }
    .workout-video-conten p, .video-tutorial p {
        font-size: .8rem;
    }
    .workout-video {
   
        top: 16%;
        left: 50%;
    }
    .video-tutorial{
        top: 50%;
        left: 8%;
    }

    .change-habit-cart-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .run-extra-container {
        flex-direction: column;
    }
    .bmi-calculator-content{
        flex-direction: column;
    }
}


/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .change-habit-cart-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large Device */
@media screen and (min-width: 992px) and (max-width: 1200px) {

}