/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(37, 37, 37);
}

section {
    margin: 50px 0;
}

h2 {
    color: white;
    margin: 5px 0;
}

p {
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

ul,
ol {
    list-style: none;
}

.d-flex {
    display: flex;
}

.primary-btn {
    width: 224px;
    height: 54px;
    background-color: #e6533c;
    border-radius: 3rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
}


/* header */
header,
main {
    max-width: 90%;
    margin: 0 auto;
}

/* Navbar */
.nav-container {
    padding: 20px;
    justify-content: space-between;
}

.logo {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 2rem;
}

.menu-items {
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;

}

.menu-items li .home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

.menu-items li a {
    color: rgb(255, 255, 255);
}

.hamburger-btn {
    color: white;
    font-size: 24px;
    display: none;
}

/* Banner */

.banner-left {
    width: 60%;
}


.banner-highlight {
    font-family: "Oleo Script", system-ui;

}

.banner-title {
    color: white;
    font-size: 2.8rem;
}

.banner-description {
    margin: 20px 0;
}

.banner-btn-container {
    gap: 10px;
}

.banner-btn-container .banner-download-app {
    width: 224px;
    height: 54px;
    border: 1px solid #ffffff;
    border-radius: 3rem;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;

}

.banner-right {
    width: 40%;
    margin-left: 2%;
    position: relative;

}

.banner-right img {
    width: 100%;
}

.banner-right h2 {
    color: white;
}

.video-icon {
    color: red;
}

.workout-video {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    width: 200px;
    height: 80px;
    top: 16%;
    left: 54%;
}

.video-tutorial {
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    width: 200px;
    height: 80px;
    top: 50%;
    left: -24%;

}


/* Change Habit */

.change-habit-cart-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.change-habit-cart {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.change-habit-cart img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.change-habit-cart h3{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 0;

}